h1 {
    color: pink;
    text-align: center;
}

h2 {
    color: rgb(164, 164, 211);
    text-align: center;
}

#lina {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#iframe {
    text-align: center;
}