body {
    font-family: 'Tilt Neon', cursive;
}

h1 {
    color: pink;
    text-align: center;
}

h2 {
    color: rgb(164, 164, 211);
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#iframe {
    text-align: center;
}

#btn-el {
    text-align: center;
}

#funny-btn {
    border:4px solid rgb(164, 164, 211);
    padding: 40px;
    border-radius: 20px;
    background-color: white;
}